@model PromotionModel
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.AddNew").Text;
}
@using SmartStore.Admin.Models.Promotions
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Promotions.AddNew") @Html.ActionLink("(" + T("Admin.Promotions.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}