@model SmartStore.GTPay.Models.GTPayATMCardPaymentInfoModel

@{
	Layout = "";
}

@Html.Hidden("GTPayMethodType", "ATMCard")

@*<div class="opt-form">*@

<div class="text-muted">
        <span>
            @{
                if (Model != null && Model.CardIconUrls != null && Model.CardIconUrls.Count > 0)
                {
                    foreach (string iconUrl in Model.CardIconUrls)
                    {
                    <img class="icon img-responsive" src="@Url.Content(iconUrl)" />
                        }
                    }
                }

            @*<img class="icon img-responsive" src="@Url.Content(Model.GTPayLogoUrl)" />
            <img class="icon img-responsive" src="@Url.Content(Model.InterswitchLogoUrl)" />*@
        </span>

        

</div>