
@{
    Layout = null;
}

<style type="text/css">
.promotion-section {
  box-sizing: border-box;
}
 
*,
*:before,
*:after {
  box-sizing: inherit;
}
 
.promotion-section {
  min-height: 100%;
}
 
.promo {
  margin: 64px auto;
  max-width: 640px;
  width: 94%;
  text-align: center;
}
 
/**
 * Circle Styles
 */
 
.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}
 
.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";
}
 
.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
 
.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
 
@@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}
 
@@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}

</style>



<div class="promotion-section">


<div class="promo">
    <h1>CSS Responsive Circles with Vertically-Centered Text</h1>

    <div class="circle">
        <div class="circle__inner">
            <div class="circle__wrapper">
                <div class="circle__content">Circle text</div>
            </div>
        </div>
    </div>

    <div class="circle">
        <div class="circle__inner">
            <div class="circle__wrapper">
                <div class="circle__content">
                    <div style="font-size:28px;font-weight:bold; font-family:'Century Gothic'">All</div>
                    <div style="font-size:72px;font-weight:bold; font-family:'Century Gothic'">50%</div>
                    <div style="font-size:36px;font-weight:bold;font-family:'Century Gothic'">Off</div>
                   
                    
                </div>
            </div>
        </div>
    </div>


</div>
</div>
